<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/styleguide.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>UnieTicket - Events</title>
  </head>
  <body>
    <div class="desktop-event-list">
      <nav class="menu-item-sidebar">
        <h1 class="text-wrapper-3">UnieTicket</h1>
        <div class="frame">
          <div class="div">
            <ul class="frame-2">
              <li class="menu-item {% if request.path.startswith('/admin/stats') %}div-wrapper{% endif %}">
                <a href="/admin/stats" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/house.svg" alt="Home icon" />
                      <span class="dashboard">Home</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item {% if request.path.startswith('/admin/events') %}div-wrapper{% endif %}">
                <a href="/admin/events" class="frame-wrapper">
                  <div class="frame-5">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/calendar-dots.svg" alt="Events icon" />
                      <span class="text-wrapper">Events</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item {% if request.path.startswith('/admin/orders') %}div-wrapper{% endif %}">
                <a href="/admin/orders" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/shopping-cart-simple.svg" alt="Orders icon" />
                      <span class="dashboard-2">Orders</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item {% if request.path.startswith('/admin/attendees') %}div-wrapper{% endif %}">
                <a href="/admin/attendees" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/users.svg" alt="Attendees icon" />
                      <span class="dashboard-2">Attendees</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item {% if request.path.startswith('/admin/finance') %}div-wrapper{% endif %}">
                <a href="/admin/finance" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/wallet.svg" alt="Finance icon" />
                      <span class="dashboard-2">Finance</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item {% if request.path.startswith('/admin/support') %}div-wrapper{% endif %}">
                <a href="/admin/support" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/chats.svg" alt="Support icon" />
                      <span class="dashboard-2">Support</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item-2 {% if request.path.startswith('/admin/team') %}div-wrapper{% endif %}">
                <a href="/admin/team" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/key.svg" alt="Team icon" />
                      <span class="dashboard-2">Team</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item {% if request.path.startswith('/admin/qr_check_in') %}div-wrapper{% endif %}">
                <a href="/admin/qr_check_in" class="frame-wrapper">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/qr-code.svg" alt="QR Check-in icon" />
                      <span class="dashboard-2">QR Check-in</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <button class="button" aria-label="Create event" onclick="location.href='events/create'">
              <div class="plus"><img class="vector" src="/static/images/sidebar/plus.svg" alt="" /></div>
              <div class="frame-6"><span class="text-wrapper-2">Create event</span></div>
            </button>
          </div>
          <div class="frame-7">
            <ul>
              <li class="menu-item-3 {% if request.path.startswith('/admin/help') %}div-wrapper{% endif %}">
                <a href="/admin/help" class="frame-8">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/question.svg" alt="Help icon" />
                      <span class="dashboard-2">Help</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="menu-item-3 {% if request.path.startswith('/admin/settings') %}div-wrapper{% endif %}">
                <a href="/admin/settings" class="frame-8">
                  <div class="frame-3">
                    <div class="frame-4">
                      <img class="img" src="/static/images/sidebar/gear-six.svg" alt="Settings icon" />
                      <span class="dashboard-2">Settings</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <div class="menu-item-4">
              <div class="frame-wrapper">
                <div class="frame-9">
                  <div class="frame-10">
                    <div class="group">
                      <div class="overlap-group">
                        <img src="/static/images/sidebar/avatar_un.svg" alt="User avatar" />
                      </div>
                    </div>
                    <span class="dashboard-3">{{ user_active }}</span>
                  </div>
                  <div class="div-2">
                    <div class="overlap-group-wrapper">
                      <div class="overlap-group-2" style="margin-left: 1%">
                        <button
							  type="button"
							  style="
								background: none;
								border: none;
								padding: 0;
								margin: 0;
								cursor: pointer;
								outline: none;
							  "
							   onclick="confirmLogout(event)"
							  aria-label="Назад"
							>
							  <img src="/static/images/sidebar/exit.svg" alt="Back" draggable="false" style="display: block;" />
							</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
<script>
        function confirmLogout(e) {
            e.preventDefault(); // Отменяем стандартное поведение ссылки
            if (confirm('Выйти из учетной записи?')) {
                // Если пользователь подтвердил, переходим на URL для выхода
                window.location.href = '/admin/logout';
            }
        }
        function selectMenuItem(el) {
        // Снимаем класс со всех
        document.querySelectorAll('.menu-item').forEach(item => {
          item.classList.remove('div-wrapper');
        });
        // Добавляем выбранному
        el.classList.add('div-wrapper');
      }
    </script>
</html>